.outerContainer {
  width: 600px;
  background-color: #f0f0f0;
  padding: 2px;
  margin: 4px 0px;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: monospace;
  padding: 10px 16px;
  cursor: pointer;
}
.title {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  cursor: unset;
}
.date {
  width: 100%;
  font-size: 16px;
  margin-top: 5px;
  cursor: unset;
}
.content {
  width: 100%;
  font-size: 15px;
  margin-top: 10px;
  cursor: unset;
}

@media screen and (max-width: 652px) {
  .outerContainer {
    width: 95vw;
  }
}
