.outerContainer {
  background-color: #f2dada;
  padding: 30px;
  width: 100vw;
  height: 100vh;
}

.innerContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.headRow {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.logoContainer {
  display: inline-flex;
  align-items: center;
  margin-left: 8vw;
}
.logoContainer .logo {
  cursor: pointer;
  margin-right: 2px;
}
.logoContainer .vl {
  border-left: 3px solid rgb(2, 31, 2);
  height: 38px;
  margin: 0 5px;
}
.logoContainer span {
  font-family: "Cormorant_SC";
  margin-left: 10px;
  font-size: 30px;
  cursor: pointer;
}
.menuContainer {
  display: inline-flex;
  align-items: center;
  margin-right: 13vw;
}
.menuContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menuContainer li {
  display: inline;
  padding: 0 2px 8px 2px;
  margin: 0 20px;
  font-family: "PT_Mono";
  font-size: 21px;
}
.active {
  border-bottom: 3px solid red;
}
.contentRow {
}
